<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='icon' href="/img/robot.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>
  <div class = "main-content">
 
  {{>header}}
   This Site is Created  By Tarang Khetan.
  This site Two APIs.i.e
  <ul>
  <li>Dark Sky Api</li>
  <li>Map Box Api</li>
  </ul>
  <img src='img/mine.jpg' /><br>
  Contact No : 9660744867
  </div> 
  {{>footer}}
  
</body>
</html>