<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Weather App</title>
</head>
<body>
  <div class="main-content">

    {{>header}}

<div class="main">
       <p>Use this site to know yOur weather</p>

  <form>
    <input type='Text' placeholder="Location">
    <input type='submit'>
  </form>  


  
  <p id='message1'></p>
  <p id='message2'></p>


</div>

  
  </div>

  <p id='message1'></p>
  <p id='message2'></p>

  {{>footer}}  



  <script src="/js/js1.js"></script>
</body>
</html>